<h1>We Played Rock!</h1>

<%= comp_move = ["rock", "paper", "scissors"].sample%>

<h1>
  They played <%= comp_move %>
</h1>

<%if comp_move == "rock" %>
  we tied! 
<% elsif comp_move == "paper" %>
  we lost! 
<% elsif comp_move == "scissor" %>
  we won!
<% end %>
